<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ReWork{% endblock %}</title>

    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %} {% endblock %}

</head>
<body>

    {% include 'partials/navbar.html' %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
