{% extends 'client/client_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'client/css/add_additional_resource.css' %}">
{% endblock %}

{% block content %}
<div class="resource-container">
    <h2 class="page-title">Add Additional Resource</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <input type="hidden" name="module_id" value="{{ module_id }}">

        <div class="form-group">
            <label for="id_title">Resource Title:</label>
            {{ form.title }}
            {% if form.title.errors %}
                <div style="color: red;">
                    {% for error in form.title.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="id_description">Description:</label>
            {{ form.description }}
            {% if form.description.errors %}
                <div style="color: red;">
                    {% for error in form.description.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="id_resource_type">Resource Type:</label>
            {{ form.resource_type }}
            {% if form.resource_type.errors %}
                <div style="color: red;">
                    {% for error in form.resource_type.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="id_url">External URL:</label>
            {{ form.url }}
            {% if form.url.errors %}
                <div style="color: red;">
                    {% for error in form.url.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>        


        <button type="submit" class="upload-btn">Save Resource</button>
    </form>

    <a href="{{request.GET.next}}" class="back-btn">← Back </a>
    <a href="{% url 'resource_list' %}" class="back-btn">Resource list</a>
</div>
{% endblock %}
