<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ReWork{% endblock %}</title>

    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'client/css/navbar.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% include 'client/partials/navbar.html' %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="logout-modal" class="logout_modal">
        <div class="logout_modal_content">
            <h2 class="logout_title">Are you sure you want to log out?</h2>
            <form method="POST" action="{% url 'log_out' %}">
                {% csrf_token %}
                <div class="logout_button_group">
                    <button type="submit" class="confirm-logout">Yes, Log Out</button>
                    <button type="button" id="cancel-logout" class="cancel-logout">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    

    <script src="{% static 'client/js/log_out.js' %}"></script>
</body>
</html>