{% extends 'client/client_base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'client/css/modules_management.css' %}">
    <div class="content">

        <div class="top-bar">
            <h1>Manage Modules</h1>
        </div>

        <div class="card-container">
        {% for module in modules %}
        <div class="card module-card {{ module.color_class }}">
            <h2>{{ module.title }}</h2>
        </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}
