{% extends 'client/client_base.html' %}
{% load static %} 
{% block title %}
    Programs
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'client/css/programs.css' %}">
{% endblock %}


{% block content %}
    <body class="container">
        <div class="title-search-container">
            <h1 class="page-title">Programs</h1>
        
            <form method="get" action="" class="search-bar-form">
                <input type="text" name="q" class="search-bar-input" placeholder="Search programs..." value="{{ query|default:'' }}">
                <button type="submit" class="search-bar-button">Search</button>
            </form>
        </div>

        <main class="program-grid">
            {% for program in programs %}
            <div class="program-card">
                <h2>{{ program.title }}</h2>
                <p>{{ program.description|truncatewords:20 }}</p>
            
                <ul class="module-list">
                    {% for pm in program.program_modules.all %}
                        <li>{{ pm.module.title }}</li>
                    {% empty %}
                        <li>No modules assigned.</li>
                    {% endfor %}
                </ul>                
            
                <div class="buttons">
                    <a href="{% url 'program_detail' program.id %}" class="edit-btn">Edit</a>
                    <a href="{% url 'delete_program' program.id %}" class="delete-btn" onclick="return confirm('Are you sure you want to delete this program?');">Delete</a>
                </div>
            </div>
            {% empty %}
                <p>No programs available.</p>
            {% endfor %}

            <a href="{% url 'create_program' %}" class="program-card add-card">
                +
            </a>
        </main>
    </body>
{% endblock %}

