{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response by {{ user_response.user.user.first_name }}</title>
    <link rel="stylesheet" href="{% static 'client/css/view_user_response.css' %}">
</head>
<body>

    <div class="content">
        <div class="top-bar">
            <a href="{% url 'view_responders' user_response.questionnaire.id %}" class="back-btn">← Back</a>
            <h1>{{ user_response.questionnaire.title }} - Response by {{ user_response.user.user.get_full_name }}</h1>
        </div>

        <!-- User's Responses -->
        <div class="questions-container">
            {% for response in responses %}
            <div class="question-card">
                <h3>{{ response.question.question_text }}</h3>

                <!-- Agreement Scale Response -->
                {% if response.question.question_type == "AGREEMENT" %}
                <ul class="choice-list">
                    <li class="choice-item {% if response.rating_value == 2 %}selected-choice{% endif %}">Strongly Agree</li>
                    <li class="choice-item {% if response.rating_value == 1 %}selected-choice{% endif %}">Agree</li>
                    <li class="choice-item {% if response.rating_value == 0 %}selected-choice{% endif %}">Neutral</li>
                    <li class="choice-item {% if response.rating_value == -1 %}selected-choice{% endif %}">Disagree</li>
                    <li class="choice-item {% if response.rating_value ==  -2 %}selected-choice{% endif %}">Strongly Disagree</li>
                </ul>

                <!-- Rating Scale Response -->
                {% elif response.question.question_type == "RATING" %}
                <div class="rating-scale">
                    <span>Scale: 1 - 5</span>
                    {% with user_choice=response.rating_value|add:3 %}
                    <p class="selected-rating">User's Rating: <span class="highlighted-rating">{{ user_choice }}</span></p>
                    {% endwith %}              
                  </div>
                {% endif %}
            </div>
            {% empty %}
            <p>No responses available for this user.</p>
            {% endfor %}
        </div>
    </div>

</body>
</html>