{% load static %}
<div class="sidebar">
    <div class="logo">
        <img src="{% static 'img/logo.svg' %}" alt="Logo" class="logoIcon">
        <span class="brand">ReWork</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="{% url 'dashboard' %}" class="{% if request.path == '/dashboard/' %}active{% endif %}">
                <img src="{% static 'img/dashboard.svg' %}" alt="Dashboard" class="icon">
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'modules' %}" class="{% if request.path == '/modules/edit_add/' %}active{% endif %}">
                <img src="{% static 'users/img/modules.svg' %}" alt="Modules" class="icon">
                <span>Modules</span>
            </a>
        </li>        
    </ul>
    <div class="toggle">
        <img src="{% static 'img/toggle.svg' %}" alt="Toggle Menu" class="toggleIcon">
    </div>
</div>
