{% extends "users/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'users/css/recommended_programs.css' %}">
  <h1>Your Personalized Plan</h1>
  <p>You can choose only one program.</p>

  {% if programs %}  r
    <form method="POST">
      {% csrf_token %}
      
      {% for program in programs %}
        <div class="program-card">
          <h3>{{ program.title }}</h3>
          <p>{{ program.description }}</p>
          <button type="submit" name="program_id" value="{{ program.id }}">Enroll</button>
        </div>
      {% endfor %}

      <button type="submit" name="skip">Skip</button>
    </form>
  {% else %}
    <p>No programs available at the moment.</p>  
  {% endif %}

  <a href="{% url 'questionnaire' %}"><button>Back</button></a>
{% endblock %}
