{% extends 'users/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/css/userModules.css' %}">
    <script src="{% static 'users/js/userModules.js' %}"></script>
    <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}




    <section class="modules-container">
        <header class="modules-header">
        <h2>Your Modules</h2>
        <a href="{% url 'all_modules' %}" class="view-all-button">View All Modules</a>
        </header>
        <div class="module-list">
        {% for module in module_data|slice:":3" %}

            <div class="module-card">
                <h3>{{ module.title }}</h3>
                <p>{{ module.description }}</p>
                <div class="progress-container">
                    <div class="progress-bar">
                        <div class="progress-fill" style="width: {{ module.progress_value }}%;"></div>
                    </div>
                </div>

                    <span class="progress-text">{{ module.progress_value }}% Complete</span>

                    <a href="{% url 'module_overview' module.id %}" class="view-module-button">View Module</a>
                    
                
                
            </div>
        {% endfor %}      
    </div>


{% endblock %}
