{% load static %}
<div class="sidebar">
    <div class="logo">
        <img src="{% static 'img/logo.svg' %}" alt="Logo" class="logoIcon">
        <span class="brand">ReWork</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="{% url 'client_dashboard' %}" class="{%if request.path == '/client_dashboard/' %}active{% endif %}">
                <img src="{% static 'img/dashboard.svg' %}" alt="Dashboard" class="icon">
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'users_management' %}" class="{%if request.path == '/users_management/' %}active{% endif %}">
                <img src="{% static 'img/users.svg' %}" alt="Users" class="icon">
                <span>Users</span>
            </a>
        </li>
        <li>
            <a href="{% url 'programs' %}" class="{%if request.path == '/programs/' %}active{% endif %}">
                <img src="{% static 'img/programs.svg' %}" alt="Programs" class="icon">
                <span>Programs</span>
            </a>
        </li>
        <li></li>
            <a href="{% url 'client_modules' %}" class="{%if request.path == '/client_modules/' %}active{% endif %}">
                <img src="{% static 'img/modules.svg' %}" alt="Modules" class="icon">
                <span>Modules</span>
            </a>
        </li>
        <li>
            <a href="{% url 'reports' %}" class="{%if request.path == '/reports/' %}active{% endif %}">
                <img src="{% static 'img/reports.svg' %}" alt="Reports" class="icon">
                <span>Reports</span>
            </a>
        </li>
        <div class="logout">
            <a href="{% url 'log_out' %}" class="{%if request.path == '/log_out/' %}active{% endif %}">
            <img src="{% static 'img/logout.svg' %}" alt="Logout" class="icon">
            <span>Logout</span>
            </a>
        </div>
    </ul>

    <div class="toggle">
        <img src="{% static 'img/toggle.svg' %}" alt="Toggle Menu" class="toggleIcon">
    </div>

</div>