@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body {
    background-color: #f8f9fa;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #000000;
    font-size: 20px;
}

.form-control {
    border-radius: 10px !important;
    padding: 12px 20px;
    border: 2px solid #F24505;
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #F24505;
    box-shadow: 0 0 5px rgba(232, 255, 81, 0.76);
}

.form-check-input {
    accent-color: #F24505;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    cursor: pointer;
}

.list-unstyled {
    padding: 0;
    margin: 0;
}

.list-unstyled li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
}

.btn-primary {
    padding: 12px 18px;
    background: #F24505;
    color: white;
    font-family: Manrope;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    border: none;
}

.btn-primary:hover {
    background: #D43802;
    color: white;
}

.btn-secondary {
    padding: 12px 18px;
    background: #ddd;
    color: black;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    border: none;
}

.btn-secondary:hover {
    background: #bbb;
}

.create_category h2 {
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.card {
    border-radius: 20px;
    background-color: #f9f9f9;
    border: 2px solid #F24505;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sortable-list {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #F24505;
    min-height: 50px;
}

.sortable-item {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid #F24505;
    background: white;
    border-radius: 50px;
    margin-bottom: 8px;
    cursor: grab;
    transition: all 0.3s ease-in-out;
}

.sortable-item:hover {
    background-color: #f4f000b4;
}

.sortable-ghost {
    background-color: rgba(255, 68, 15, 0.2) !important;
    border: 1px dashed #F24505;
}

.drag-handle {
    cursor: grab;
    font-size: 18px;
    color: #F24505;
}

textarea.form-control {
    min-height: 300px;
    max-height: 600px;
    resize: vertical;
    text-align: left;
    line-height: 1.5;
}

.module-box {
    border: 2px solid #F24505;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 20px;
}

.module-box ul li {
    padding: 10px;
    border-bottom: 2px solid #eff580;
}
