@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
body {
    font-family: Manrope;
    margin: 0;
    padding: 0;
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 30px;
    background: #ffffff;
    margin-left: 25px;
}

.top-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #F24505;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin-top: 20px;
}

.card {
    height: 180px;
    min-width: 200px;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

.card h2 {
    margin-left: 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.module-card {
    height: 180px;
    min-width: 200px;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    transition: transform 0.2s ease-in-out;    
}

/* Ensure text is centered properly */
.module-card h2 {
    margin: 0;
    font-size: 18px;
}


.module-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.color1 { background-color: #f2f20557; }
.color2 { background-color: #81C784; }
.color3 { background-color: #35b008bf; }
.color4 { background-color: #F24505; }
.color5 { background-color: #FFD700; }
.color6 { background-color: #f2f20557; }
.color6 { background-color: #F24505; }


@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr); 
    }
}
